@media (max-width: 768px) {
  .Headers nav {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #000000;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }

  .Headers nav.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
